
<ion-header>
  <ion-toolbar>
    <ion-title>relatedPosts</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="content">
  <ion-button color="#3C897A" class="button"  [routerLink]="['/tabs/profile']">Zurück</ion-button>
  <ion-card *ngFor="let publicPost of publicPosts; let i = index" [attr.data-index]="i" class="card">
    <ion-grid>
      <ion-row>
        <ion-label class="label">{{publicPosts.userId}}</ion-label>
      </ion-row>

      <ion-row>
        <ion-label class="inhalt">{{publicPosts.text}}</ion-label>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-row>
            <ion-label class="label">{{publicPosts.location}}</ion-label>
          </ion-row>

          <ion-row>
            <ion-label class="label">{{publicPosts.postTime}}</ion-label>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card> 
</ion-content>


