<ion-header>
  <ion-toolbar class="toolbar">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="content">
	<ion-list>

		<ion-item>
		  <ion-label position="floating">Email</ion-label>
		  <ion-input class="ion-input" type="text" [(ngModel)]="username"></ion-input>
		</ion-item>
	  
		<ion-item>
		  <ion-label position="floating">Password</ion-label>
		  <ion-input class="ion-input" type="password" [(ngModel)]="password"></ion-input>
		</ion-item>
	  
	  </ion-list>

		<ion-button color="#3C897A" class="button" (click)="login()">Login</ion-button>		
		
		<ion-button color="#3C897A" class="button"   [routerLink]="['/register']">hier registrieren</ion-button>
		
</ion-content>