<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-title>
      Hilfe finden
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
    <ion-grid>
    <ion-row class="rowStyle">
      <ion-col size="auto">
        <ion-icon class="icon" name ="person-outline"></ion-icon> 
      </ion-col>
      
      <ion-col size="auto">
        <ion-label class="label">Udo</ion-label>
      </ion-col>

      <ion-col size="auto">
        <ion-icon class="icon" name ="location-outline"></ion-icon>
      </ion-col>
                      
      <ion-col size="auto"> 
        <ion-label class="label">22339</ion-label>
       </ion-col>

       <ion-col>
        <ion-label class="label">Hamburg</ion-label>
       </ion-col>
      
    </ion-row>
    <ion-row class="rowStyle">
      <ion-input class="input" placeholder="your text" type="text" [(ngModel)]="postText"></ion-input>
    </ion-row>

    <ion-row>
      <button ion-button block round class="button" (click)="savePost()">Hilfe anfragen</button>
    </ion-row>
  </ion-grid>
  <ion-header collapse="condense">
      
  </ion-header>
</ion-content>
