<ion-header>
  <ion-toolbar class="toolbar">
    <ion-searchbar class="searchbar" placeholder="Suche in deiner Stadt"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <ion-card *ngFor="let publicPost of publicPosts" class="card">
    <ion-grid>

      <ion-row>
        <ion-label class="label">{{publicPost.id}}</ion-label>
      </ion-row>

      <ion-row>
        <ion-label class="inhalt">{{publicPost.text}}</ion-label>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-row>
            <ion-label class="label">{{publicPost.location}}</ion-label>
          </ion-row>

          <ion-row>
            <ion-label class="label">{{publicPost.postTime}}</ion-label>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-button color="#3C897A" class="button">Hilfe anbieten</ion-button>
      </ion-row>

    </ion-grid>

    
  </ion-card>
</ion-content>
