<ion-header>
  <ion-toolbar class="toolbar">
    <ion-title>
      Dein Profil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class = "content">
  <ion-grid>
    <ion-row style="color: #5F6564;" class="ion-input" >
      <ion-input type="name" [readonly]=true> {{ user.name }}  </ion-input>
    </ion-row>
     
    <ion-row style="color: #5F6564;" class="ion-inpu">
      <ion-input class="rowStyle" type="email"  [readonly]=true >{{ user.email }}</ion-input>
    </ion-row>

    <ion-row style="color: #5F6564;" class="ion-inpu">
      <ion-input class="rowStyle" type="ort" [readonly]=true >{{ user.location }}</ion-input>
    </ion-row>
  </ion-grid>

  <ion-card class="card">
    <ion-grid>

      <ion-row>
        <ion-button color="#3C897A" class="button"   [routerLink]="['/related-posts']">Eigene Posts</ion-button>
      </ion-row>
      <ion-row>
        <ion-button color="#3C897A" class="button"  [routerLink]="['/related-posts']">Kommentierte Posts</ion-button>
      </ion-row>

      <ion-row>
        <ion-label class="inhalt">.
        </ion-label>
      </ion-row>
    </ion-grid>

    
  </ion-card>  
</ion-content>
