<ion-header>
  <ion-toolbar class="toolbar">
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="content">
	
	<ion-list>
		<ion-item class="item">
		  <ion-label class="label" position="floating">Email</ion-label>
		  <ion-input class="ion-input" type="text" [(ngModel)]="username"></ion-input>
		</ion-item>
	  
		<ion-item class="item">
		  <ion-label class="label" position="floating">Password</ion-label>
		  <ion-input class="ion-input" type="password" [(ngModel)]="password"></ion-input>
    	</ion-item>

    	<ion-item>
		  <ion-label class="label" position="floating">Confirm Password</ion-label>
		  <ion-input class="ion-input" type="password" [(ngModel)]="cpassword"></ion-input>
		</ion-item>
	
		<ion-item>
		  <ion-label class="label" position="floating">First Name</ion-label>
		  <ion-input class="ion-input" type="text" [(ngModel)]="firstName"></ion-input>
		</ion-item>

		<ion-item>
		  <ion-label class="label" position="floating">Last Name</ion-label>
		  <ion-input class="ion-input" type="text" [(ngModel)]="lastName"></ion-input>
		</ion-item>
		
		<ion-item>
		  <ion-label class="label" position="floating">Location</ion-label>
		  <ion-input class="ion-input" type="text" [(ngModel)]="location"></ion-input>
		</ion-item>
	</ion-list>

		<ion-button class="button" color="#3C897A" (click)="register()">Signup</ion-button>
		<ion-button color="#3C897A" class="button"   [routerLink]="['/login']">hier login</ion-button>
</ion-content>